.react-datepicker-wrapper input {
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-bottom: solid 1px #dcdcdc;
  font-size: 1rem;
  font-weight: 200;
  width: 100%;
}

.mountain-completion-modal-datepicker {
  margin: auto;
  background-color: transparent;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

.mountain-completion-modal-datepicker .react-datepicker__month-container {
  float: none;
}

.mountain-completion-modal-datepicker .react-datepicker__header {
  background-color: #f3f3f3;
  border-color: #dcdcdc;
  border-radius: 0;
}

.mountain-completion-modal-datepicker .react-datepicker__today-button {
  background-color: #f3f3f3;
  border-color: #dcdcdc;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
}
.mountain-completion-modal-datepicker .react-datepicker__today-button:hover {
  background-color: #f3f3f3;
}
.mountain-completion-modal-datepicker .react-datepicker__day--outside-month {
  opacity: 0.5;
}
